@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 21 100% 95%;
    --foreground: 21 5% 0%;
    --card: 21 50% 90%;
    --card-foreground: 21 5% 10%;
    --popover: 21 100% 95%;
    --popover-foreground: 21 100% 0%;
    --primary: 21 100% 8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -17 30% 85%;
    --muted-foreground: 21 5% 35%;
    --accent: -17 30% 80%;
    --accent-foreground: 21 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 21 5% 90%;
    --border: 21 30% 50%;
    --input: 21 30% 18%;
    --ring: 21 100% 8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 21 50% 5%;
    --foreground: 21 5% 90%;
    --card: 21 50% 0%;
    --card-foreground: 21 5% 90%;
    --popover: 21 50% 5%;
    --popover-foreground: 21 5% 90%;
    --primary: 21 100% 8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -17 30% 15%;
    --muted-foreground: 21 5% 60%;
    --accent: -17 30% 15%;
    --accent-foreground: 21 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 21 5% 90%;
    --border: 21 30% 18%;
    --input: 21 30% 18%;
    --ring: 21 100% 8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply cursor-default bg-background text-foreground transition-colors;
    @apply selection:bg-primary/90 selection:text-secondary;
  }
}
